.App {
  text-align: left;
}

.App-intro {
  font-size: large;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.info{
  
}


.charac{
  margin-left: 15px;
  height: 150px;
  background: grey;
}

.input{
  border: 0;
  background: none;
  outline: none;
  font-size: 15px;
}


